[submodule "test_env/ansible-Proxy"]
	path = test_env/ansible-Proxy
	url = https://github.com/hibitomo/ansible-Proxy
[submodule "ofctl_script"]
	path = ofctl_script
	url = https://github.com/hibitomo/ofctl_script
