[submodule "ofct_script"]
	path = ofct_script
	url = https://github.com/hibitomo/ofctl_script
[submodule "test_env/ansible-proxy"]
	path = test_env/ansible-proxy
	url = https://github.com/hibitomo/ansible-Proxy
